<div data-pagelet="FeedUnit_0" style="border: 2px solid rgba(246,246,246,.9);margin-bottom:16px;" class="postveryveryouter">
    <div class="userimageandtitle">
        <a style="color: #385898;" class="postouter" href="@Url.Action("UserProfile", "Home")" role="link" tabindex="0">
            <div style="position: relative;">
                <img class="postimage" style="display: block;border: 0;" height="40" src="~/images/1.png" width="40" alt="">
                <div class="postimage postimageone" style="height: 40px; width: 40px;"></div>
            </div>
            <div class="postimage postimage2" data-novc="1"></div>
        </a>
        <div style="flex-grow: 1;">
            <strong><a href="@Url.Action("UserProfile", "Home")"> User Name</a> </strong>
            <div>
                <ul class="navbar-nav mr-auto" style="display:-webkit-inline-box;">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            1 hr &nbsp;
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-globe"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="navbar">
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="ellipsisfeed_0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-ellipsis-v"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ellipsisfeed_0">
                            <a class="dropdown-item" href="">
                                <span class="fa fa-flag"> </span>
                                Flag post
                            </a>
                            <a class="dropdown-item" href="">
                                <span class="fa fa-trash"></span>
                                Delete Post
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="posttext">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>

    <!--Image Container-->


    <div class="likecommentinfo" style="">
        <div style="align-items: center;display: flex;flex-grow: 1;overflow-x: hidden;overflow-y: hidden;">
            <span aria-label="See who reacted to this" role="toolbar" style="align-items: center;display: flex;">
                <span class="fa fa-thumbs-up" style="color:blue"></span>
                <span>&#128558</span>
            </span>
            <span style="padding-left: 6px;">Meenu Goel and 289 others</span>
        </div>
        <div>
            201 comments  23 shares
        </div>
    </div>
    <hr />
    <div style="display: flex;">
        <span class="likecommentpanel">
            <span class="fa fa-thumbs-up" style="color:GrayText;font-size:18px;margin-right:6px;"></span>Like
        </span>
        <span class="likecommentpanel">
            <span class="fa fa-comment" style="color:GrayText;font-size:18px;margin-right:6px;"></span>Comment
        </span>
        <span class="likecommentpanel">
            <span class="fa fa-share-alt" style="color:GrayText;font-size:18px;margin-right:6px;"></span>Share
        </span>
    </div>
    <hr />
    <div class="input-group" style="padding:10px 0px 10px 4px">
        <a style="color: #385898;padding-top:6px;" class="postouter" href="@Url.Action("UserProfile", "Home")" role="link" tabindex="0">
            <div style="position: relative;">
                <img class="postimage" style="display: block;border: 0;" height="32" src="~/images/1.png" width="32" alt="">
                <div class="postimage postimageone" style="height: 32px; width: 32px;"></div>
            </div>
            <div class="postimage postimage2" data-novc="1"></div>
        </a>

        <!--Post Text box-->
        <input type="hidden" class="PostId" value="{postid}" />
        <span role="textbox" contenteditable="true" class="textarea col-8 col-sm-9 col-md-9 col-lg-6 col-xl-7" id="txt_{postid}" style="background-color:rgb(242,242,242);"></span>
        &nbsp;
        <!--Post Button-->
        <div style="position:relative">
            <span id="{postid}" onclick="PostComment(this);" class="input-group-addon btn btn-sm btn-primary" style="max-height:30px;position:absolute;bottom:0">Comment</span>
        </div>

        @*<form class="commentbox">
            <div class=" _3d2q _7c_r _4w79">
                <div style="position:absolute">Write a comment...</div>
                <div class="_5rpb">
                    <div aria-describedby="placeholder-d27v2" aria-label="Write a comment..." class="notranslate _5rpu" contenteditable="true" role="textbox" spellcheck="true" style="outline: none; user-select: text; white-space: pre-wrap; overflow-wrap: break-word;"><div data-contents="true"><div class="" data-block="true" data-editor="d27v2" data-offset-key="e2q9-0-0"><div data-offset-key="e2q9-0-0" class="_1mf _1mj"><span data-offset-key="e2q9-0-0"><br data-text="true"></span></div></div></div></div>
                </div>
            </div>
            <ul class="_1obb"></ul>
        </form>*@
    </div>
</div>

<style>
    .commentbox {
        background-color: #f2f3f5;
        border: 1px solid #ccd0d5;
        border-radius: 16px;
        display: flex;
        justify-content: flex-end;
        flex-grow: 1
    }

    ._71pn ._3d2q {
        color: var(--primary-text);
    }

    ._71pn ._7c_r {
        color: var(--secondary-text);
        font-size: 15px;
        font-weight: 400;
    }

    ._71pn ._4w79 {
        font-size: 15px;
        line-height: 17px;
        padding: 10px 12px 9px 12px;
    }

    ._4w79 {
        cursor: text;
        flex: 1 1 auto;
        padding: 8px 12px;
    }

    ._7c_r {
        color: #8d949e;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    ._71pn ._5rp7 {
        z-index: 0;
    }

    ._5rp7 {
        position: relative;
    }

    ._5rp7, ._5rpb, ._5rpu {
        height: inherit;
        text-align: initial;
    }

    ._71pn ._3d2q ._1p1t {
        color: var(--secondary-text);
    }

    ._7c_r ._1p1t {
        width: 100%;
    }

    ._3d2q ._1p1t {
        color: #8d949e;
    }

    ._1p1t {
        color: #90949c;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    ._7c_r ._1p1v {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap !important;
    }

    ._5rpb {
        background-color: rgba(255, 255, 255, 0);
        border-left: .1px solid transparent;
        position: relative;
        z-index: 1;
    }

    ._5rp7, ._5rpb, ._5rpu {
        height: inherit;
        text-align: initial;
    }

    ._71pn ._1obb {
        height: 34px;
    }

    ._1obb {
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        height: 32px;
        margin-left: -8px;
        margin-right: 8px;
        z-index: 1;
    }
</style>