<div class="containeroffeedscontainer">
    <span id="ssrb_feed_start" style="display:none"></span>
    <div role="feed">
        <span class="spacinger" data-html2canvas-ignore="true">
            <h3 class="newsfeedtitle" dir="auto">News Feed posts</h3>
        </span>
        <div data-pagelet="FeedUnit_0" style="border: 2px solid rgba(246,246,246,.9);" class="postveryveryouter">
            <div class="singlefeedcontainer">
                <div>
                    <div class="userimageandtitle">
                        <div class="oi9244e8 do00u71z j83agx80">
                            <div class="nc684nl6">
                                <a aria-hidden="true" class="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 nc684nl6 p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl oo9gr5id gpro0wi8" href="https://www.facebook.com/manish.verma2727?__cft__[0]=AZXf8OBISRvx7T6AFHcjTDT94-vDe5rpbn5Pu4AAsiSczsAwOzAb2cvsSCPmjOOj08QI_JmBJIVdj2olHvcl0l-jB-kDGySlGq0QDRi2oqP9bMN0K9Jm1SDJBLAe2ZvRMTE3jKMTSuot6Vzidt65cVBrKrzIZ4cUWCuDPd2KMlTRbw&amp;__tn__=%3C%2CP-R" role="link" tabindex="-1" waprocessedanchor="true">
                                    <div class="q676j6op qypqp5cg">
                                        <object type="nested/pressable">
                                            <a aria-label="Manish Verma" class="oajrlxb2 gs1a9yip g5ia77u1 mtkw9kbi tlpljxtp qensuy8j ppp5ayq2 goun2846 ccm00jje s44p3ltw mk2mc5f4 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv nhd2j8a9 q9uorilb mg4g778l btwxx1t3 pfnyh3mw p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x tgvbjcpo hpfvmrgz jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso l9j0dhe7 i1ao9s8h esuyzwwr f1sip0of du4w35lb lzcic4wl abiwlrkh p8dawk7l oo9gr5id" href="https://www.facebook.com/manish.verma2727?__cft__[0]=AZXf8OBISRvx7T6AFHcjTDT94-vDe5rpbn5Pu4AAsiSczsAwOzAb2cvsSCPmjOOj08QI_JmBJIVdj2olHvcl0l-jB-kDGySlGq0QDRi2oqP9bMN0K9Jm1SDJBLAe2ZvRMTE3jKMTSuot6Vzidt65cVBrKrzIZ4cUWCuDPd2KMlTRbw&amp;__tn__=%3C%3C%2CP-R" role="link" tabindex="0" waprocessedanchor="true">
                                                <div class="q9uorilb l9j0dhe7 pzggbiyp du4w35lb">
                                                    <svg class="pzggbiyp" data-vc-ignore-dynamic="1" role="none" style="height:40px;width:40px">
                                                        <mask id="jsc_c_b"><circle cx="20" cy="20" fill="white" r="20"></circle></mask>
                                                        <g mask="url(#jsc_c_b)">
                                                            <image style="height:40px;width:40px" x="0" y="0" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" xlink:href="https://scontent.fdel1-4.fna.fbcdn.net/v/t1.0-1/cp0/p40x40/101725107_10217314345875053_2677372983286169600_n.jpg?_nc_cat=100&amp;_nc_sid=7206a8&amp;_nc_ohc=UgBmVPyOiHkAX8hEEqe&amp;_nc_ht=scontent.fdel1-4.fna&amp;oh=be260d63850d21fc67cd7b0f83f065c1&amp;oe=5EFA7E5C"></image>
                                                            <circle class="mlqo0dh0 georvekb s6kb5r3f" cx="20" cy="20" r="20"></circle>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </a>
                                        </object>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="buofh1pr">
                            <div class="j83agx80 cbu4d94t ew0dbk1b irj2b8pg">
                                <div class="qzhwtbm6 knvmm38d">
                                    <span class="oi732d6d ik7dh3pa d2edcug0 qv66sw1b c1et5uql a8c37x1j muag1w35 enqfppq2 jq4qci2q a3bd9o3v knj5qynh m9osqain hzawbc8m" dir="auto">
                                        <h4 id="jsc_c_9" class="gmql0nx0 l94mrbxd p1ri9a11 lzcic4wl aahdfvyu hzawbc8m" dir="auto">
                                            <strong>
                                                <span>
                                                    <a class="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 nc684nl6 p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl oo9gr5id gpro0wi8 lrazzd5p" href="https://www.facebook.com/manish.verma2727?__cft__[0]=AZXf8OBISRvx7T6AFHcjTDT94-vDe5rpbn5Pu4AAsiSczsAwOzAb2cvsSCPmjOOj08QI_JmBJIVdj2olHvcl0l-jB-kDGySlGq0QDRi2oqP9bMN0K9Jm1SDJBLAe2ZvRMTE3jKMTSuot6Vzidt65cVBrKrzIZ4cUWCuDPd2KMlTRbw&amp;__tn__=-]C%2CP-R" role="link" tabindex="0" waprocessedanchor="true">
                                                        <div class="nc684nl6"><span>Manish Verma</span></div>
                                                    </a>
                                                </span>
                                            </strong> updated his profile picture.
                                        </h4>
                                    </span>
                                </div><div class="qzhwtbm6 knvmm38d"><span class="oi732d6d ik7dh3pa d2edcug0 qv66sw1b c1et5uql a8c37x1j hop8lmos enqfppq2 e9vueds3 j5wam9gi knj5qynh m9osqain hzawbc8m" dir="auto"><span class="jpp8pzdo"><span>&nbsp;<span aria-hidden="true">·&nbsp;</span></span></span><span><a class="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 nc684nl6 p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl gmql0nx0 gpro0wi8 b1v8xokw" href="https://www.facebook.com/manish.verma2727/posts/10217314329834652:1?__cft__[0]=AZXf8OBISRvx7T6AFHcjTDT94-vDe5rpbn5Pu4AAsiSczsAwOzAb2cvsSCPmjOOj08QI_JmBJIVdj2olHvcl0l-jB-kDGySlGq0QDRi2oqP9bMN0K9Jm1SDJBLAe2ZvRMTE3jKMTSuot6Vzidt65cVBrKrzIZ4cUWCuDPd2KMlTRbw&amp;__tn__=%2CO%2CP-R" role="link" tabindex="0" waprocessedanchor="true"><span id="jsc_c_a">1 hr</span></a></span><span class="jpp8pzdo"><span>&nbsp;<span aria-hidden="true">·&nbsp;</span></span></span><span class="ormqv51v l9j0dhe7 q9uorilb"><span class="tojvnm2t a6sixzi8 abs2jz4q a8s20v7p t1p8iaqh k5wvi7nf q3lfd5jv pk4s997a bipmatt0 cebpdrjk qowsmv63 owwhemhu dp1hu0rb dhp61c6y iyyx5f41"><img class="hu5pjgll m6k467ps" src="https://static.xx.fbcdn.net/rsrc.php/v3/yQ/r/axobuTi734a.png" alt="Public" height="12" width="12"></span></span></span></div>
                            </div>
                        </div>
                        <div class="nqmvxvec j83agx80 jnigpg78 cxgpxx05 dflh9lhu sj5x9vvc scb9dxdr odw8uiq3">
                            <div aria-expanded="false" aria-haspopup="menu" aria-label="Actions for this post" class="oajrlxb2 gs1a9yip g5ia77u1 mtkw9kbi tlpljxtp qensuy8j ppp5ayq2 goun2846 ccm00jje s44p3ltw mk2mc5f4 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv nhd2j8a9 pq6dq46d mg4g778l btwxx1t3 pfnyh3mw p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x tgvbjcpo hpfvmrgz jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso l9j0dhe7 i1ao9s8h esuyzwwr f1sip0of du4w35lb lzcic4wl abiwlrkh p8dawk7l dwo3fsh8 pzggbiyp pkj7ub1o bqnlxs5p kkg9azqs c24pa1uk ln9iyx3p fe6kdd0r ar1oviwq l10q8mi9 sq40qgkc s8quxz6p pdjglbur" role="button" tabindex="0">
                                <img class="hu5pjgll m6k467ps" src="https://static.xx.fbcdn.net/rsrc.php/v3/y1/r/BOCzaD2rwOa.png" alt="" height="20" width="20">
                                <div class="s45kfl79 emlxlaya bkmhp75w spb7xbtv i09qtzwb n7fi1qx3 b5wmifdl hzruof5a pmk7jnqg j9ispegn kr520xx4 c5ndavph art1omkt ot9fgl3s" data-novc="1" style="bottom:-8px;left:-8px;right:-8px;top:-8px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="l9j0dhe7">
                        <div class="l9j0dhe7">
                            <div>
                                <div class="s1tcr66n cwj9ozl2 du4w35lb l9j0dhe7 jb3vyjys a8nywdso rz4wbd8a qt6c0cv9 hpfvmrgz tgvbjcpo kvgmc6g5 hcukyx3x cxmmr5t8 oygrvhab i1fnvgqd g5gj957u buofh1pr cbu4d94t j83agx80 rq0escxv auili1gw ow4ym5g4 gs1a9yip">
                                    <div class="k4urcfbm kr520xx4 pmk7jnqg stjgntxs ni8dbmo4 l172exi1 g6srhlxm">
                                        <img class="k4urcfbm bixrwtb6 datstx6m q9uorilb" src="https://scontent.fdel1-3.fna.fbcdn.net/v/t1.0-0/p526x296/100777758_10217314327194586_5608621590813081600_n.jpg?_nc_cat=103&amp;_nc_sid=e3f864&amp;_nc_ohc=QW9dbwTTir4AX9OWH-N&amp;_nc_ht=scontent.fdel1-3.fna&amp;_nc_tp=6&amp;oh=f7de5543912c5b06c21159350c81c0e9&amp;oe=5EF8CCCA" alt="Image may contain: 2 people, including Manish Verma, people sitting and outdoor">
                                    </div><div class="c088b7cy btxidjgm umr3f4cg bjjx79mm du4w35lb l9j0dhe7 hpfvmrgz tgvbjcpo kvgmc6g5 hcukyx3x cxmmr5t8 oygrvhab i1fnvgqd g5gj957u buofh1pr cbu4d94t j83agx80 rq0escxv auili1gw ow4ym5g4 gs1a9yip">
                                        <a class="oajrlxb2 gs1a9yip g5ia77u1 mtkw9kbi tlpljxtp qensuy8j ppp5ayq2 goun2846 ccm00jje s44p3ltw mk2mc5f4 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv nhd2j8a9 q9uorilb mg4g778l btwxx1t3 pfnyh3mw p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x tgvbjcpo hpfvmrgz jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso l9j0dhe7 i1ao9s8h esuyzwwr f1sip0of du4w35lb lzcic4wl abiwlrkh p8dawk7l" href="https://www.facebook.com/photo/?fbid=10217314345835052&amp;set=a.1479478191330&amp;__cft__[0]=AZXf8OBISRvx7T6AFHcjTDT94-vDe5rpbn5Pu4AAsiSczsAwOzAb2cvsSCPmjOOj08QI_JmBJIVdj2olHvcl0l-jB-kDGySlGq0QDRi2oqP9bMN0K9Jm1SDJBLAe2ZvRMTE3jKMTSuot6Vzidt65cVBrKrzIZ4cUWCuDPd2KMlTRbw&amp;__tn__=~H-R" role="link" tabindex="0" waprocessedanchor="true">
                                            <div class="m95j9u3b stjgntxs ni8dbmo4 f9o22wc5 oygrvhab ad2k81qe kvgmc6g5 poggut42 peup4ujy axcgnzup n5w6wilu bharnk5q mk2mc5f4 s44p3ltw ccm00jje goun2846 spb7xbtv bkmhp75w emlxlaya s45kfl79 b74d5cxt j7g94pet et4y5ytx np69z8it g6srhlxm"><img class="k4urcfbm bixrwtb6 datstx6m q9uorilb" src="https://scontent.fdel1-4.fna.fbcdn.net/v/t1.0-0/s526x395/101725107_10217314345875053_2677372983286169600_n.jpg?_nc_cat=100&amp;_nc_sid=09cbfe&amp;_nc_ohc=UgBmVPyOiHkAX8hEEqe&amp;_nc_ht=scontent.fdel1-4.fna&amp;_nc_tp=7&amp;oh=2bac97968598204f15cf312a88c58dd9&amp;oe=5EFA7A38" alt="Image may contain: Manish Verma, standing, sunglasses and outdoor"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><div class="stjgntxs ni8dbmo4"></div>
                    </div>
                </div>
                <div>
                    <div class="stjgntxs ni8dbmo4 l82x9zwi uo3d90p7 h905i5nu monazrh9" data-vc-ignore-dynamic="1">
                        <div>
                            <div>
                                <div class="l9j0dhe7">
                                    <div class="bp9cbjyn m9osqain j83agx80 jq4qci2q bkfpd7mw a3bd9o3v kvgmc6g5 wkznzc2l oygrvhab dhix69tm jktsbyx5 rz4wbd8a osnr6wyh a8nywdso s1tcr66n">
                                        <div class="bp9cbjyn j83agx80 buofh1pr ni8dbmo4 stjgntxs">
                                            <span aria-label="See who reacted to this" class="bp9cbjyn j83agx80 b3onmgus" role="toolbar">
                                                <span class="np69z8it et4y5ytx j7g94pet b74d5cxt qw6c0r16 kb8x4rkr ed597pkb omcyoz59 goun2846 ccm00jje s44p3ltw mk2mc5f4 qxh1up0x qtyiw8t4 tpcyxxvw k0bpgpbk hm271qws rl04r1d5 l9j0dhe7 ov9facns kavbgo14">
                                                    <span class="t0qjyqq4 jos75b7i j6sty90h kv0toi1t q9uorilb hm271qws ov9facns">
                                                        <span class="tojvnm2t a6sixzi8 abs2jz4q a8s20v7p t1p8iaqh k5wvi7nf q3lfd5jv pk4s997a bipmatt0 cebpdrjk qowsmv63 owwhemhu dp1hu0rb dhp61c6y iyyx5f41">
                                                            <div aria-label="28 Like" class="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 nc684nl6 p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl l9j0dhe7 abiwlrkh p8dawk7l" role="button" tabindex="0"><img class="j1lvzwm4" height="18" src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 16 16'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3e%3cstop offset='0%25' stop-color='%2318AFFF'/%3e%3cstop offset='100%25' stop-color='%230062DF'/%3e%3c/linearGradient%3e%3cfilter id='c' width='118.8%25' height='118.8%25' x='-9.4%25' y='-9.4%25' filterUnits='objectBoundingBox'%3e%3cfeGaussianBlur in='SourceAlpha' result='shadowBlurInner1' stdDeviation='1'/%3e%3cfeOffset dy='-1' in='shadowBlurInner1' result='shadowOffsetInner1'/%3e%3cfeComposite in='shadowOffsetInner1' in2='SourceAlpha' k2='-1' k3='1' operator='arithmetic' result='shadowInnerInner1'/%3e%3cfeColorMatrix in='shadowInnerInner1' values='0 0 0 0 0 0 0 0 0 0.299356041 0 0 0 0 0.681187726 0 0 0 0.3495684 0'/%3e%3c/filter%3e%3cpath id='b' d='M8 0a8 8 0 00-8 8 8 8 0 1016 0 8 8 0 00-8-8z'/%3e%3c/defs%3e%3cg fill='none'%3e%3cuse fill='url(%23a)' xlink:href='%23b'/%3e%3cuse fill='black' filter='url(%23c)' xlink:href='%23b'/%3e%3cpath fill='white' d='M12.162 7.338c.176.123.338.245.338.674 0 .43-.229.604-.474.725a.73.73 0 01.089.546c-.077.344-.392.611-.672.69.121.194.159.385.015.62-.185.295-.346.407-1.058.407H7.5c-.988 0-1.5-.546-1.5-1V7.665c0-1.23 1.467-2.275 1.467-3.13L7.361 3.47c-.005-.065.008-.224.058-.27.08-.079.301-.2.635-.2.218 0 .363.041.534.123.581.277.732.978.732 1.542 0 .271-.414 1.083-.47 1.364 0 0 .867-.192 1.879-.199 1.061-.006 1.749.19 1.749.842 0 .261-.219.523-.316.666zM3.6 7h.8a.6.6 0 01.6.6v3.8a.6.6 0 01-.6.6h-.8a.6.6 0 01-.6-.6V7.6a.6.6 0 01.6-.6z'/%3e%3c/g%3e%3c/svg%3e" width="18"></div>
                                                        </span>
                                                    </span>
                                                </span><span class="np69z8it et4y5ytx j7g94pet b74d5cxt qw6c0r16 kb8x4rkr ed597pkb omcyoz59 goun2846 ccm00jje s44p3ltw mk2mc5f4 qxh1up0x qtyiw8t4 tpcyxxvw k0bpgpbk hm271qws rl04r1d5 l9j0dhe7 ov9facns tkr6xdv7">
                                                    <span class="t0qjyqq4 jos75b7i j6sty90h kv0toi1t q9uorilb hm271qws ov9facns">
                                                        <span class="tojvnm2t a6sixzi8 abs2jz4q a8s20v7p t1p8iaqh k5wvi7nf q3lfd5jv pk4s997a bipmatt0 cebpdrjk qowsmv63 owwhemhu dp1hu0rb dhp61c6y iyyx5f41"><div aria-label="1 Wow" class="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 nc684nl6 p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl l9j0dhe7 abiwlrkh p8dawk7l" role="button" tabindex="0"><img class="j1lvzwm4" height="18" src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 16 16'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='10.25%25' y2='100%25'%3e%3cstop offset='0%25' stop-color='%23FEEA70'/%3e%3cstop offset='100%25' stop-color='%23F69B30'/%3e%3c/linearGradient%3e%3clinearGradient id='d' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3e%3cstop offset='0%25' stop-color='%23472315'/%3e%3cstop offset='100%25' stop-color='%238B3A0E'/%3e%3c/linearGradient%3e%3clinearGradient id='e' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3e%3cstop offset='0%25' stop-color='%23191A33'/%3e%3cstop offset='87.162%25' stop-color='%233B426A'/%3e%3c/linearGradient%3e%3clinearGradient id='j' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3e%3cstop offset='0%25' stop-color='%23E78E0D'/%3e%3cstop offset='100%25' stop-color='%23CB6000'/%3e%3c/linearGradient%3e%3cfilter id='c' width='118.8%25' height='118.8%25' x='-9.4%25' y='-9.4%25' filterUnits='objectBoundingBox'%3e%3cfeGaussianBlur in='SourceAlpha' result='shadowBlurInner1' stdDeviation='1'/%3e%3cfeOffset dy='-1' in='shadowBlurInner1' result='shadowOffsetInner1'/%3e%3cfeComposite in='shadowOffsetInner1' in2='SourceAlpha' k2='-1' k3='1' operator='arithmetic' result='shadowInnerInner1'/%3e%3cfeColorMatrix in='shadowInnerInner1' values='0 0 0 0 0.921365489 0 0 0 0 0.460682745 0 0 0 0 0 0 0 0 0.35 0'/%3e%3c/filter%3e%3cfilter id='g' width='111.1%25' height='133.3%25' x='-5.6%25' y='-16.7%25' filterUnits='objectBoundingBox'%3e%3cfeGaussianBlur in='SourceAlpha' result='shadowBlurInner1' stdDeviation='.5'/%3e%3cfeOffset in='shadowBlurInner1' result='shadowOffsetInner1'/%3e%3cfeComposite in='shadowOffsetInner1' in2='SourceAlpha' k2='-1' k3='1' operator='arithmetic' result='shadowInnerInner1'/%3e%3cfeColorMatrix in='shadowInnerInner1' values='0 0 0 0 0.0980392157 0 0 0 0 0.101960784 0 0 0 0 0.2 0 0 0 0.819684222 0'/%3e%3c/filter%3e%3cfilter id='h' width='204%25' height='927.2%25' x='-52.1%25' y='-333.3%25' filterUnits='objectBoundingBox'%3e%3cfeOffset dy='1' in='SourceAlpha' result='shadowOffsetOuter1'/%3e%3cfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='1.5'/%3e%3cfeColorMatrix in='shadowBlurOuter1' values='0 0 0 0 0.803921569 0 0 0 0 0.388235294 0 0 0 0 0.00392156863 0 0 0 0.14567854 0'/%3e%3c/filter%3e%3cpath id='b' d='M16 8A8 8 0 110 8a8 8 0 0116 0'/%3e%3cpath id='f' d='M3.5 5.5c0-.828.559-1.5 1.25-1.5S6 4.672 6 5.5C6 6.329 5.441 7 4.75 7S3.5 6.329 3.5 5.5zm6.5 0c0-.828.56-1.5 1.25-1.5.691 0 1.25.672 1.25 1.5 0 .829-.559 1.5-1.25 1.5C10.56 7 10 6.329 10 5.5z'/%3e%3cpath id='i' d='M11.068 1.696c.052-.005.104-.007.157-.007.487 0 .99.204 1.372.562a.368.368 0 01.022.51.344.344 0 01-.496.024c-.275-.259-.656-.4-.992-.369a.8.8 0 00-.59.331.346.346 0 01-.491.068.368.368 0 01-.067-.507 1.49 1.49 0 011.085-.612zm-7.665.555a2.042 2.042 0 011.372-.562 1.491 1.491 0 011.242.619.369.369 0 01-.066.507.347.347 0 01-.492-.068.801.801 0 00-.59-.331c-.335-.031-.717.11-.992.369a.344.344 0 01-.496-.024.368.368 0 01.022-.51z'/%3e%3c/defs%3e%3cg fill='none'%3e%3cuse fill='url(%23a)' xlink:href='%23b'/%3e%3cuse fill='black' filter='url(%23c)' xlink:href='%23b'/%3e%3cpath fill='url(%23d)' d='M5.643 10.888C5.485 12.733 6.369 14 8 14c1.63 0 2.515-1.267 2.357-3.112C10.2 9.042 9.242 8 8 8c-1.242 0-2.2 1.042-2.357 2.888'/%3e%3cuse fill='url(%23e)' xlink:href='%23f'/%3e%3cuse fill='black' filter='url(%23g)' xlink:href='%23f'/%3e%3cpath fill='%234E506A' d='M4.481 4.567c.186.042.29.252.232.469-.057.218-.254.36-.44.318-.186-.042-.29-.252-.232-.47.057-.216.254-.36.44-.317zm6.658.063c.206.047.322.28.258.52-.064.243-.282.4-.489.354-.206-.046-.322-.28-.258-.521.063-.242.282-.4.49-.353z'/%3e%3cuse fill='black' filter='url(%23h)' xlink:href='%23i'/%3e%3cuse fill='url(%23j)' xlink:href='%23i'/%3e%3c/g%3e%3c/svg%3e" width="18"></div></span>
                                                    </span>
                                                </span>
                                            </span>
                                            <div class="">
                                                <span class="tojvnm2t a6sixzi8 abs2jz4q a8s20v7p t1p8iaqh k5wvi7nf q3lfd5jv pk4s997a bipmatt0 cebpdrjk qowsmv63 owwhemhu dp1hu0rb dhp61c6y iyyx5f41">
                                                    <div class="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 a8c37x1j p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl l9j0dhe7 abiwlrkh p8dawk7l gmql0nx0 frigt3m8 ni8dbmo4 stjgntxs" role="button" tabindex="0"><span aria-hidden="true" class="bzsjyuwj ni8dbmo4 stjgntxs ltmttdrg gjzvkazv"><span><span class="gpro0wi8 pcp91wgn">29</span></span></span><span class="gpro0wi8 cwj9ozl2 bzsjyuwj ja2t1vim"><span><span class="pcp91wgn">Prasi Nigotia and <!-- -->28 others</span></span></span></div>
                                                </span>
                                            </div><div class="kb5gq1qc pfnyh3mw c0wkt4kp"></div>
                                        </div>
                                        <div class="bp9cbjyn j83agx80 pfnyh3mw">
                                            <div class="gtad4xkn">
                                                <span class="tojvnm2t a6sixzi8 abs2jz4q a8s20v7p t1p8iaqh k5wvi7nf q3lfd5jv pk4s997a bipmatt0 cebpdrjk qowsmv63 owwhemhu dp1hu0rb dhp61c6y iyyx5f41">
                                                    <div class="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 nc684nl6 p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl l9j0dhe7 abiwlrkh gpro0wi8 dwo3fsh8 ow4ym5g4 auili1gw du4w35lb gmql0nx0" role="button" tabindex="0"><span class="oi732d6d ik7dh3pa d2edcug0 qv66sw1b c1et5uql a8c37x1j muag1w35 enqfppq2 jq4qci2q a3bd9o3v knj5qynh m9osqain" dir="auto">2 comments</span></div>
                                                </span>
                                            </div>
                                        </div>
                                    </div><div class="is6700om i09qtzwb rm7oo3ik pmk7jnqg j9ispegn kr520xx4 dsl5tyj5">
                                    </div>
                                </div><div class="a8nywdso e5nlhep0 rz4wbd8a ecm0bbzt jklb3kyz dhix69tm oygrvhab wkznzc2l kvgmc6g5 j83agx80">
                                    <div class="ewlkfwdl jq4qci2q buofh1pr btwxx1t3 j83agx80 oo9gr5id bp9cbjyn">
                                        <span class=" _18vi">
                                            <div class="l9j0dhe7 k4urcfbm"><div class="l9j0dhe7"><span><div aria-label="Like" class="oajrlxb2 bp9cbjyn g5ia77u1 mtkw9kbi tlpljxtp qensuy8j ppp5ayq2 goun2846 ccm00jje s44p3ltw mk2mc5f4 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv nhd2j8a9 j83agx80 mg4g778l btwxx1t3 pfnyh3mw p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x tgvbjcpo hpfvmrgz jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso l9j0dhe7 i1ao9s8h esuyzwwr f1sip0of du4w35lb lzcic4wl abiwlrkh p8dawk7l buofh1pr taijpn5t" role="button" tabindex="0"><div class="e71nayrh  _18vj"><span class="q9uorilb sf5mxxl7 bdca9zbp"><span class=" q9uorilb"><img class="q9uorilb fv0vnmcu" src="https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/gGPRzHuW8qT.png" alt="" height="18" width="18"></span></span>Like</div></div><div aria-label="React" class="oajrlxb2 gs1a9yip g5ia77u1 mtkw9kbi tlpljxtp qensuy8j ppp5ayq2 goun2846 ccm00jje s44p3ltw mk2mc5f4 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv nhd2j8a9 pq6dq46d mg4g778l btwxx1t3 pfnyh3mw p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x tgvbjcpo hpfvmrgz b4ylihy8 rz4wbd8a b40mr0ww a8nywdso pmk7jnqg i1ao9s8h esuyzwwr f1sip0of du4w35lb lzcic4wl abiwlrkh p8dawk7l e5ffyxfx maw0qe7g q45zohi1 g0aa4cga" role="button" tabindex="0"><img class="hu5pjgll m6k467ps" src="https://static.xx.fbcdn.net/rsrc.php/v3/ym/r/1Gr9XTXWjmy.png" alt="" height="16" width="16"><div class="n00je7tq arfg74bv qs9ysxi8 k77z8yql i09qtzwb n7fi1qx3 b5wmifdl hzruof5a pmk7jnqg j9ispegn kr520xx4 c5ndavph art1omkt ot9fgl3s" data-novc="1"></div></div></span></div></div>
                                        </span><span class=" _18vi"><div aria-label="Leave a comment" class="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv n05y2jgg hbms080z p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h vul9dhcy f1sip0of lzcic4wl l9j0dhe7 abiwlrkh p8dawk7l f49446kz  _666h  _18vj _18vk" role="button" tabindex="0">Comment</div></span><span class="bp9cbjyn j83agx80 rj1gh0hx buofh1pr pfnyh3mw taijpn5t gfay22hk i3s4pi26 otbi8bnk gj36ivs1 p2cu3d7g p8dawk7l"><div aria-label="Send this to friends or post it on your Timeline." class="oajrlxb2 gs1a9yip g5ia77u1 mtkw9kbi tlpljxtp qensuy8j ppp5ayq2 goun2846 ccm00jje s44p3ltw mk2mc5f4 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv nhd2j8a9 j83agx80 mg4g778l btwxx1t3 pfnyh3mw p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x tgvbjcpo hpfvmrgz jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso l9j0dhe7 i1ao9s8h esuyzwwr f1sip0of du4w35lb lzcic4wl abiwlrkh p8dawk7l buofh1pr ms05siws flx89l3n ogy3fsii" role="button" tabindex="0"><div class="bp9cbjyn m9osqain j83agx80 rj1gh0hx buofh1pr pfnyh3mw jq4qci2q lrazzd5p k7cz35w2 taijpn5t jiuqdcnw jb3vyjys n8tt0mok qt6c0cv9 hyh9befq l9j0dhe7 esuyzwwr"><div class="j83agx80 fv0vnmcu"><img class="hu5pjgll m6k467ps" src="https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/EyGUmEdOqjv.png" alt="" height="18" width="18"></div>Share</div></div></span>
                                    </div>
                                </div>
                            </div><!--$--><!--$--><div class="tvmbv18p cwj9ozl2">
                                <span class="pmk7jnqg g0aa4cga q45zohi1" data-html2canvas-ignore="true">
                                    <h5 class="gmql0nx0 l94mrbxd p1ri9a11 lzcic4wl" dir="auto">Comments</h5>
                                </span>
                            <div aria-label="seperator" class="ecm0bbzt dhix69tm oygrvhab wkznzc2l kvgmc6g5 l6v480f0"></div><div class="l9j0dhe7 dati1w0a qt6c0cv9 hv4rvrfc jb3vyjys bkfpd7mw j83agx80"><div class="j83agx80 buofh1pr jklb3kyz"><div class="is6700om i09qtzwb b5wmifdl pmk7jnqg j9ispegn kr520xx4 ms05siws art1omkt heur4gxb dsl5tyj5"></div><div class="oajrlxb2 gs1a9yip g5ia77u1 mtkw9kbi tlpljxtp qensuy8j ppp5ayq2 goun2846 ccm00jje s44p3ltw mk2mc5f4 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv nhd2j8a9 pq6dq46d mg4g778l btwxx1t3 pfnyh3mw p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x tgvbjcpo hpfvmrgz jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso l9j0dhe7 i1ao9s8h esuyzwwr f1sip0of du4w35lb lzcic4wl abiwlrkh p8dawk7l buofh1pr" role="button" tabindex="0"><span class="o8rfisnq j83agx80 fv0vnmcu"><span class="oi732d6d ik7dh3pa d2edcug0 qv66sw1b c1et5uql a8c37x1j muag1w35 enqfppq2 jq4qci2q a3bd9o3v lrazzd5p m9osqain" dir="auto">View comments</span></span></div></div></div><div class="l9j0dhe7 dati1w0a qt6c0cv9 hv4rvrfc jb3vyjys bkfpd7mw j83agx80"></div><div class="stjgntxs ni8dbmo4"><div class="bp9cbjyn j83agx80 k7cz35w2 jifvfom9 hv4rvrfc dati1w0a qvze9t23 tpo14512"><div class="ggphbty4 wkznzc2l taijpn5t j83agx80"></div></div></div><div class="ecm0bbzt hv4rvrfc e5nlhep0 dati1w0a lzcic4wl btwxx1t3 j83agx80"><div class="nqmvxvec s45kfl79 emlxlaya bkmhp75w spb7xbtv a8c37x1j fv0vnmcu rs0gx3tq l9j0dhe7"><div aria-label="Write a comment..." class="oajrlxb2 gs1a9yip g5ia77u1 mtkw9kbi tlpljxtp qensuy8j ppp5ayq2 goun2846 ccm00jje s44p3ltw mk2mc5f4 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv nhd2j8a9 pq6dq46d mg4g778l btwxx1t3 pfnyh3mw p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x tgvbjcpo hpfvmrgz jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso l9j0dhe7 i1ao9s8h esuyzwwr f1sip0of du4w35lb lzcic4wl abiwlrkh p8dawk7l" role="button" tabindex="0"><div class="q9uorilb l9j0dhe7 pzggbiyp du4w35lb"><svg class="pzggbiyp" data-vc-ignore-dynamic="1" role="none" style="height:32px;width:32px"><mask id="jsc_c_30"><circle cx="16" cy="16" fill="white" r="16"></circle></mask><g mask="url(#jsc_c_30)"><image style="height:32px;width:32px" x="0" y="0" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" xlink:href="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-1/cp0/p32x32/72194835_10222176225301727_6889901740703875072_o.jpg?_nc_cat=109&amp;_nc_sid=7206a8&amp;_nc_ohc=L85ZzCZwvZQAX9-zISz&amp;_nc_ht=scontent.fdel1-1.fna&amp;oh=42bb2756abfae2055019e3a2336324e7&amp;oe=5EF756DA"></image><circle class="mlqo0dh0 georvekb s6kb5r3f" cx="16" cy="16" r="16"></circle></g></svg></div><div class="s45kfl79 emlxlaya bkmhp75w spb7xbtv i09qtzwb n7fi1qx3 b5wmifdl hzruof5a pmk7jnqg j9ispegn kr520xx4 c5ndavph art1omkt ot9fgl3s" data-novc="1"></div></div></div><div class="stjgntxs ni8dbmo4 g3eujd1d"><div class="_25-w"><div class="_17pg"><div class="_17pg"><div class="_1rwk"><form class=" _129h l9j0dhe7"><div aria-hidden="true" class="oajrlxb2 gs1a9yip g5ia77u1 mtkw9kbi tlpljxtp qensuy8j ppp5ayq2 goun2846 ccm00jje s44p3ltw mk2mc5f4 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv o6r2urh6 pq6dq46d mg4g778l btwxx1t3 pfnyh3mw p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x tgvbjcpo hpfvmrgz jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso pmk7jnqg i1ao9s8h esuyzwwr f1sip0of du4w35lb lzcic4wl abiwlrkh p8dawk7l orhb3f3m czkt41v7 fmqxjp7s emzo65vh i09qtzwb n7fi1qx3 j9ispegn kr520xx4" role="button" tabindex="-1"></div><div class=" _3d2q _7c_r _4w79" data-novc="1"><div class="_5rp7"><div class="_1p1t"><div class="_1p1v" id="placeholder-d27v2" style="white-space: pre-wrap;">Write a comment...</div></div><div class="_5rpb"><div aria-describedby="placeholder-d27v2" aria-label="Write a comment..." class="notranslate _5rpu" contenteditable="true" role="textbox" spellcheck="true" style="outline: none; user-select: text; white-space: pre-wrap; overflow-wrap: break-word;"><div data-contents="true"><div class="" data-block="true" data-editor="d27v2" data-offset-key="e2q9-0-0"><div data-offset-key="e2q9-0-0" class="_1mf _1mj"><span data-offset-key="e2q9-0-0"><br data-text="true"></span></div></div></div></div></div></div></div><ul class="_1obb"><li class="_1obc"><span class="tojvnm2t a6sixzi8 abs2jz4q a8s20v7p t1p8iaqh k5wvi7nf q3lfd5jv pk4s997a bipmatt0 cebpdrjk qowsmv63 owwhemhu dp1hu0rb dhp61c6y iyyx5f41"><!--$--><div aria-label="Insert an emoji" class="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 nc684nl6 p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl _1t9_ _1ta3" role="button" tabindex="0"><div class="InsertEmoji"></div></div><!--/$--></span></li><li class="_1obc"><span class="tojvnm2t a6sixzi8 abs2jz4q a8s20v7p t1p8iaqh k5wvi7nf q3lfd5jv pk4s997a bipmatt0 cebpdrjk qowsmv63 owwhemhu dp1hu0rb dhp61c6y iyyx5f41"><!--$--><div aria-label="Attach a photo or video" class="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 nc684nl6 p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl _1t9_ _7ja_" role="button" tabindex="0"><div class=" _3n43"></div></div><!--/$--></span></li><li class="_1obc"><span class="tojvnm2t a6sixzi8 abs2jz4q a8s20v7p t1p8iaqh k5wvi7nf q3lfd5jv pk4s997a bipmatt0 cebpdrjk qowsmv63 owwhemhu dp1hu0rb dhp61c6y iyyx5f41"><!--$--><div aria-label="Post a GIF" class="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 nc684nl6 p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl _1t9_ _1ny6" role="button" tabindex="0"><div class="_1nyp"></div></div><!--/$--></span></li><li class="_1obc"><span class="tojvnm2t a6sixzi8 abs2jz4q a8s20v7p t1p8iaqh k5wvi7nf q3lfd5jv pk4s997a bipmatt0 cebpdrjk qowsmv63 owwhemhu dp1hu0rb dhp61c6y iyyx5f41"><!--$--><div aria-label="Post a sticker" class="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 nc684nl6 p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl _1t9_ _2r-o" role="button" tabindex="0"><div class="_2r-r"></div></div><!--/$--></span></li></ul></form></div></div></div></div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span id="ssrb_feed_end" style="display:none"></span>
</div>
<style>
.userimageandtitle { padding-top: 12px; margin-bottom: 12px; align-items: flex-start; display: flex; padding-right: 16px; padding-left: 16px; flex-direction: row; }

.oi9244e8 {
    margin-right: 8px;
}

.j83agx80 {
    display: flex;
}
.do00u71z {
    height: 0;
}







.nc684nl6 {
    display: inline;
}





.rz4wbd8a {
    padding-right: 0;
}
.rq0escxv {
    box-sizing: border-box;
}
.qt6c0cv9 {
    padding-bottom: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.oo9gr5id {
    color: var(--primary-text);
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.nhd2j8a9 {
    cursor: pointer;
}
.nc684nl6 {
    display: inline;
}
.kvgmc6g5 {
    margin-top: 0;
}
.jb3vyjys {
    padding-top: 0;
}
.i1ao9s8h {
    text-align: inherit;
}
.hcukyx3x {
    margin-left: 0;
}
.g5ia77u1 {
    background-color: transparent;
}
.f1sip0of {
    touch-action: manipulation;
}
.cxmmr5t8 {
    margin-right: 0;
}
.a8nywdso {
    padding-left: 0;
}
.r7d6kgcz {
    border-left: 0;
}
.qu0x051f {
    border-top: 0;
}
.esr5mh6w {
    border-right: 0;
}
.e9989ue4 {
    border-bottom: 0;
}
.p7hjln8o {
    list-style: none;
}
.lzcic4wl {
    outline: none;
}
.esuyzwwr {
    text-decoration: none;
}







.qypqp5cg {
    height: 40px;
}

.q676j6op {
    width: 40px;
}









.tgvbjcpo {
    min-height: 0;
}
.rz4wbd8a {
    padding-right: 0;
}
.rq0escxv {
    box-sizing: border-box;
}
.qt6c0cv9 {
    padding-bottom: 0;
}
.q9uorilb {
    display: inline-block;
}
.pfnyh3mw {
    flex-shrink: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.oo9gr5id {
    color: var(--primary-text);
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.nhd2j8a9 {
    cursor: pointer;
}
.mg4g778l {
    flex-basis: auto;
}
.l9j0dhe7 {
    position: relative;
}
.kvgmc6g5 {
    margin-top: 0;
}
.jb3vyjys {
    padding-top: 0;
}
.i1ao9s8h {
    text-align: inherit;
}
.hpfvmrgz {
    min-width: 0;
}
.hcukyx3x {
    margin-left: 0;
}
.gs1a9yip {
    align-items: stretch;
}
.g5ia77u1 {
    background-color: transparent;
}
.f1sip0of {
    touch-action: manipulation;
}
.du4w35lb {
    z-index: 0;
}
.cxmmr5t8 {
    margin-right: 0;
}
.btwxx1t3 {
    flex-direction: row;
}
.abiwlrkh {
    -webkit-user-select: none;
}
.a8nywdso {
    padding-left: 0;
}
.tlpljxtp {
    border-right-color: var(--always-dark-overlay);
}
.sk4xxmp2 {
    border-left-width: 0;
}
.s44p3ltw {
    border-bottom-style: solid;
}
.rt8b4zig {
    border-top-width: 0;
}
.qensuy8j {
    border-bottom-color: var(--always-dark-overlay);
}
.ppp5ayq2 {
    border-left-color: var(--always-dark-overlay);
}
.n8ej3o3l {
    border-right-width: 0;
}
.mtkw9kbi {
    border-top-color: var(--always-dark-overlay);
}
.mk2mc5f4 {
    border-left-style: solid;
}
.goun2846 {
    border-top-style: solid;
}
.ccm00jje {
    border-right-style: solid;
}
.agehan2d {
    border-bottom-width: 0;
}
.p7hjln8o {
    list-style: none;
}
.lzcic4wl {
    outline: none;
}
.esuyzwwr {
    text-decoration: none;
}







.q9uorilb {
    display: inline-block;
}

.pzggbiyp {
    vertical-align: bottom;
}
.l9j0dhe7 {
    position: relative;
}
.du4w35lb {
    z-index: 0;
}







.pzggbiyp {
    vertical-align: bottom;
}




.s6kb5r3f {
    stroke-width: 2;
}
.mlqo0dh0 {
    fill: none;
}
.georvekb {
    stroke: var(--media-inner-border);
}







.buofh1pr {
    flex-grow: 1;
}





.j83agx80 {
    display: flex;
}
.irj2b8pg {
    margin-top: -5px;
}
.ew0dbk1b {
    margin-bottom: -5px;
}
.cbu4d94t {
    flex-direction: column;
}





.qzhwtbm6 {
    margin-bottom: 5px;
}

.knvmm38d {
    margin-top: 5px;
}






.qv66sw1b {
    word-break: break-word;
}
.muag1w35 {
    margin-top: -4px;
}
.m9osqain {
    color: var(--secondary-text);
}
.knj5qynh {
    font-weight: normal;
}
.jq4qci2q {
    font-size: .9375rem;
}
.ik7dh3pa {
    -webkit-font-smoothing: antialiased;
}
.hzawbc8m {
    text-align: left;
}
.enqfppq2 {
    margin-bottom: -4px;
}
.d2edcug0 {
    max-width: 100%;
}
.c1et5uql {
    word-wrap: break-word;
}
.a8c37x1j {
    display: block;
}
.a3bd9o3v {
    line-height: 1.3333;
}







.p1ri9a11 {
    font-weight: inherit;
}
.l94mrbxd {
    font-size: inherit;
}
.hzawbc8m {
    text-align: left;
}

.gmql0nx0 {
    color: inherit;
}
.aahdfvyu {
    margin-top: 4px;
}
.lzcic4wl {
    outline: none;
}






.nc684nl6 {
    display: inline;
}





.rz4wbd8a {
    padding-right: 0;
}
.rq0escxv {
    box-sizing: border-box;
}
.qt6c0cv9 {
    padding-bottom: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.oo9gr5id {
    color: var(--primary-text);
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.nhd2j8a9 {
    cursor: pointer;
}
.nc684nl6 {
    display: inline;
}
.lrazzd5p {
    font-weight: 600;
}
.kvgmc6g5 {
    margin-top: 0;
}
.jb3vyjys {
    padding-top: 0;
}
.i1ao9s8h {
    text-align: inherit;
}
.hcukyx3x {
    margin-left: 0;
}
.g5ia77u1 {
    background-color: transparent;
}
.f1sip0of {
    touch-action: manipulation;
}
.cxmmr5t8 {
    margin-right: 0;
}
.a8nywdso {
    padding-left: 0;
}
.r7d6kgcz {
    border-left: 0;
}
.qu0x051f {
    border-top: 0;
}
.esr5mh6w {
    border-right: 0;
}
.e9989ue4 {
    border-bottom: 0;
}
.p7hjln8o {
    list-style: none;
}
.lzcic4wl {
    outline: none;
}
.esuyzwwr {
    text-decoration: none;
}






.qzhwtbm6 {
    margin-bottom: 5px;
}
.knvmm38d {
    margin-top: 5px;
}





.qv66sw1b {
    word-break: break-word;
}
.m9osqain {
    color: var(--secondary-text);
}
.knj5qynh {
    font-weight: normal;
}
.j5wam9gi {
    line-height: 1.2308;
}
.ik7dh3pa {
    -webkit-font-smoothing: antialiased;
}
.hzawbc8m {
    text-align: left;
}
.hop8lmos {
    margin-top: -2px;
}
.enqfppq2 {
    margin-bottom: -4px;
}

.e9vueds3 {
    font-size: .8125rem;
}
.d2edcug0 {
    max-width: 100%;
}
.c1et5uql {
    word-wrap: break-word;
}
.a8c37x1j {
    display: block;
}




.jpp8pzdo:first-child {
    display: none;
}





.rz4wbd8a {
    padding-right: 0;
}
.rq0escxv {
    box-sizing: border-box;
}
.qt6c0cv9 {
    padding-bottom: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.nhd2j8a9 {
    cursor: pointer;
}
.nc684nl6 {
    display: inline;
}
.kvgmc6g5 {
    margin-top: 0;
}
.jb3vyjys {
    padding-top: 0;
}
.i1ao9s8h {
    text-align: inherit;
}
.hcukyx3x {
    margin-left: 0;
}
.gmql0nx0 {
    color: inherit;
}
.g5ia77u1 {
    background-color: transparent;
}
.f1sip0of {
    touch-action: manipulation;
}
.cxmmr5t8 {
    margin-right: 0;
}
.b1v8xokw {
    font-weight: 400;
}
.a8nywdso {
    padding-left: 0;
}
.r7d6kgcz {
    border-left: 0;
}
.qu0x051f {
    border-top: 0;
}
.esr5mh6w {
    border-right: 0;
}
.e9989ue4 {
    border-bottom: 0;
}
.p7hjln8o {
    list-style: none;
}
.lzcic4wl {
    outline: none;
}
.esuyzwwr {
    text-decoration: none;
}





.q9uorilb {
    display: inline-block;
}
.ormqv51v {
    top: -2px;
}
.l9j0dhe7 {
    position: relative;
}




.tojvnm2t {
    align-content: inherit;
}
.t1p8iaqh {
    flex-basis: inherit;
}
.qowsmv63 {
    max-height: inherit;
}
.q3lfd5jv {
    flex-grow: inherit;
}
.pk4s997a {
    flex-shrink: inherit;
}
.owwhemhu {
    max-width: inherit;
}
.k5wvi7nf {
    flex-direction: inherit;
}
.iyyx5f41 {
    width: inherit;
}
.dp1hu0rb {
    min-height: inherit;
}
.dhp61c6y {
    min-width: inherit;
}
.cebpdrjk {
    justify-content: inherit;
}
.bipmatt0 {
    height: inherit;
}
.abs2jz4q {
    align-self: inherit;
}
.a8s20v7p {
    display: inherit;
}
.a6sixzi8 {
    align-items: inherit;
}




.hu5pjgll {
    vertical-align: -0.25em;
}




.sj5x9vvc {
    padding-bottom: 8px;
}
.scb9dxdr {
    padding-left: 8px;
}
.odw8uiq3 {
    width: 20px;
}
.nqmvxvec {
    align-self: flex-start;
}
.jnigpg78 {
    height: 20px;
}
.j83agx80 {
    display: flex;
}
.dflh9lhu {
    padding-right: 8px;
}
.cxgpxx05 {
    padding-top: 8px;
}







.tgvbjcpo {
    min-height: 0;
}
.rz4wbd8a {
    padding-right: 0;
}
.rq0escxv {
    box-sizing: border-box;
}
.qt6c0cv9 {
    padding-bottom: 0;
}
.pzggbiyp {
    vertical-align: bottom;
}
.pq6dq46d {
    display: inline-flex;
}
.pfnyh3mw {
    flex-shrink: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.nhd2j8a9 {
    cursor: pointer;
}
.mg4g778l {
    flex-basis: auto;
}
.l9j0dhe7 {
    position: relative;
}
.kvgmc6g5 {
    margin-top: 0;
}
.jb3vyjys {
    padding-top: 0;
}
.i1ao9s8h {
    text-align: inherit;
}
.hpfvmrgz {
    min-width: 0;
}
.hcukyx3x {
    margin-left: 0;
}
.gs1a9yip {
    align-items: stretch;
}
.g5ia77u1 {
    background-color: transparent;
}
.f1sip0of {
    touch-action: manipulation;
}
.dwo3fsh8 {
    -webkit-appearance: none;
}
.du4w35lb {
    z-index: 0;
}
.cxmmr5t8 {
    margin-right: 0;
}
.btwxx1t3 {
    flex-direction: row;
}
.abiwlrkh {
    -webkit-user-select: none;
}
.a8nywdso {
    padding-left: 0;
}
.tlpljxtp {
    border-right-color: var(--always-dark-overlay);
}
.sk4xxmp2 {
    border-left-width: 0;
}
.s44p3ltw {
    border-bottom-style: solid;
}
.rt8b4zig {
    border-top-width: 0;
}
.qensuy8j {
    border-bottom-color: var(--always-dark-overlay);
}
.ppp5ayq2 {
    border-left-color: var(--always-dark-overlay);
}
.n8ej3o3l {
    border-right-width: 0;
}
.mtkw9kbi {
    border-top-color: var(--always-dark-overlay);
}
.mk2mc5f4 {
    border-left-style: solid;
}
.goun2846 {
    border-top-style: solid;
}
.ccm00jje {
    border-right-style: solid;
}
.agehan2d {
    border-bottom-width: 0;
}
.p7hjln8o {
    list-style: none;
}
.lzcic4wl {
    outline: none;
}
.esuyzwwr {
    text-decoration: none;
}



.hu5pjgll {
    vertical-align: -0.25em;
}





.spb7xbtv {
    border-bottom-left-radius: 50%;
}
.s45kfl79 {
    border-top-left-radius: 50%;
}
.pmk7jnqg {
    position: absolute;
}
.ot9fgl3s {
    transition-timing-function: var(--fds-animation-fade-out);
}
.n7fi1qx3 {
    right: 0;
}
.kr520xx4 {
    top: 0;
}
.j9ispegn {
    left: 0;
}
.i09qtzwb {
    bottom: 0;
}
.hzruof5a {
    pointer-events: none;
}
.emlxlaya {
    border-top-right-radius: 50%;
}
.c5ndavph {
    transition-duration: var(--fds-duration-extra-extra-short-out);
}
.bkmhp75w {
    border-bottom-right-radius: 50%;
}
.b5wmifdl {
    opacity: 0;
}
.art1omkt {
    transition-property: opacity;
}






.hv4rvrfc {
    padding-right: 16px;
}
.ecm0bbzt {
    padding-top: 4px;
}
.e5nlhep0 {
    padding-bottom: 4px;
}

.dati1w0a {
    padding-left: 16px;
}





.j83agx80 {
    display: flex;
}
.irj2b8pg {
    margin-top: -5px;
}
.ew0dbk1b {
    margin-bottom: -5px;
}
.cbu4d94t {
    flex-direction: column;
}






.qzhwtbm6 {
    margin-bottom: 5px;
}
.knvmm38d {
    margin-top: 5px;
}














.qv66sw1b {
    word-break: break-word;
}
.oo9gr5id {
    color: var(--primary-text);
}
.muag1w35 {
    margin-top: -4px;
}
.knj5qynh {
    font-weight: normal;
}
.jq4qci2q {
    font-size: .9375rem;
}
.ik7dh3pa {
    -webkit-font-smoothing: antialiased;
}
.hzawbc8m {
    text-align: left;
}
.enqfppq2 {
    margin-bottom: -4px;
}
.d2edcug0 {
    max-width: 100%;
}
.c1et5uql {
    word-wrap: break-word;
}
.a8c37x1j {
    display: block;
}
.a3bd9o3v {
    line-height: 1.3333;
}
















.qv66sw1b {
    word-break: break-word;
}
.oo9gr5id {
    color: var(--primary-text);
}
.knj5qynh {
    font-weight: normal;
}
.jq4qci2q {
    font-size: .9375rem;
}
.ik7dh3pa {
    -webkit-font-smoothing: antialiased;
}
.hzawbc8m {
    text-align: left;
}
.a3bd9o3v {
    line-height: 1.3333;
}










.tbxw36s4 {
    font-style: normal;
}
.q9uorilb {
    display: inline-block;
}
.oygrvhab {
    margin-bottom: 0;
}
.nvdbi5me {
    margin-left: 1px;
}
.kvgmc6g5 {
    margin-top: 0;
}
.knj5qynh {
    font-weight: normal;
}
.hhz5lgdu {
    width: 16px;
}
.gl3lb2sf {
    height: 16px;
}
.fgm26odu {
    vertical-align: text-bottom;
}
.ditlmg2l {
    margin-right: 1px;
}







.uo3d90p7 {
    border-bottom-right-radius: 8px;
}
.stjgntxs {
    overflow-y: hidden;
}
.ni8dbmo4 {
    overflow-x: hidden;
}
.monazrh9 {
    border-top-left-radius: 0;
}
.l82x9zwi {
    border-bottom-left-radius: 8px;
}
.h905i5nu {
    border-top-right-radius: 0;
}







.l9j0dhe7 {
    position: relative;
}








.wkznzc2l {
    margin-right: 16px;
}
.rz4wbd8a {
    padding-right: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.osnr6wyh {
    padding-bottom: 10px;
}
.m9osqain {
    color: var(--secondary-text);
}
.kvgmc6g5 {
    margin-top: 0;
}
.jq4qci2q {
    font-size: .9375rem;
}
.jktsbyx5 {
    padding-top: 10px;
}
.j83agx80 {
    display: flex;
}
.dhix69tm {
    margin-left: 16px;
}
.bp9cbjyn {
    align-items: center;
}
.bkfpd7mw {
    justify-content: flex-end;
}
.a8nywdso {
    padding-left: 0;
}
.a3bd9o3v {
    line-height: 1.3333;
}
.s1tcr66n {
    border-bottom: 1px solid var(--divider);
}





.stjgntxs {
    overflow-y: hidden;
}
.ni8dbmo4 {
    overflow-x: hidden;
}
.j83agx80 {
    display: flex;
}
.buofh1pr {
    flex-grow: 1;
}
.bp9cbjyn {
    align-items: center;
}









.j83agx80 {
    display: flex;
}

.bp9cbjyn {
    align-items: center;
}
.b3onmgus {
    padding-left: 4px;
}











.rl04r1d5 {
    margin-left: -4px;
}
.qw6c0r16 {
    border-top-left-radius: 11px;
}
.ov9facns {
    width: 18px;
}
.omcyoz59 {
    border-bottom-left-radius: 11px;
}
.l9j0dhe7 {
    position: relative;
}
.kb8x4rkr {
    border-top-right-radius: 11px;
}
.kavbgo14 {
    z-index: 2;
}
.hm271qws {
    height: 18px;
}
.ed597pkb {
    border-bottom-right-radius: 11px;
}
.tpcyxxvw {
    border-bottom-width: 2px;
}
.s44p3ltw {
    border-bottom-style: solid;
}
.qxh1up0x {
    border-top-width: 2px;
}
.qtyiw8t4 {
    border-right-width: 2px;
}
.np69z8it {
    border-top-color: var(--card-background);
}
.mk2mc5f4 {
    border-left-style: solid;
}
.k0bpgpbk {
    border-left-width: 2px;
}
.j7g94pet {
    border-bottom-color: var(--card-background);
}
.goun2846 {
    border-top-style: solid;
}
.et4y5ytx {
    border-right-color: var(--card-background);
}
.ccm00jje {
    border-right-style: solid;
}
.b74d5cxt {
    border-left-color: var(--card-background);
}







.t0qjyqq4 {
    border-top-left-radius: 9px;
}
.q9uorilb {
    display: inline-block;
}
.ov9facns {
    width: 18px;
}
.kv0toi1t {
    border-bottom-left-radius: 9px;
}
.jos75b7i {
    border-top-right-radius: 9px;
}
.j6sty90h {
    border-bottom-right-radius: 9px;
}
.hm271qws {
    height: 18px;
}















.tojvnm2t {
    align-content: inherit;
}
.t1p8iaqh {
    flex-basis: inherit;
}
.qowsmv63 {
    max-height: inherit;
}
.q3lfd5jv {
    flex-grow: inherit;
}
.pk4s997a {
    flex-shrink: inherit;
}
.owwhemhu {
    max-width: inherit;
}
.k5wvi7nf {
    flex-direction: inherit;
}
.iyyx5f41 {
    width: inherit;
}
.dp1hu0rb {
    min-height: inherit;
}
.dhp61c6y {
    min-width: inherit;
}
.cebpdrjk {
    justify-content: inherit;
}
.bipmatt0 {
    height: inherit;
}
.abs2jz4q {
    align-self: inherit;
}
.a8s20v7p {
    display: inherit;
}
.a6sixzi8 {
    align-items: inherit;
}







.rz4wbd8a {
    padding-right: 0;
}
.rq0escxv {
    box-sizing: border-box;
}
.qt6c0cv9 {
    padding-bottom: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.nhd2j8a9 {
    cursor: pointer;
}
.nc684nl6 {
    display: inline;
}
.l9j0dhe7 {
    position: relative;
}
.kvgmc6g5 {
    margin-top: 0;
}
.jb3vyjys {
    padding-top: 0;
}
.i1ao9s8h {
    text-align: inherit;
}
.hcukyx3x {
    margin-left: 0;
}
.g5ia77u1 {
    background-color: transparent;
}
.f1sip0of {
    touch-action: manipulation;
}
.cxmmr5t8 {
    margin-right: 0;
}
.abiwlrkh {
    -webkit-user-select: none;
}
.a8nywdso {
    padding-left: 0;
}
.r7d6kgcz {
    border-left: 0;
}
.qu0x051f {
    border-top: 0;
}
.esr5mh6w {
    border-right: 0;
}
.e9989ue4 {
    border-bottom: 0;
}
.p7hjln8o {
    list-style: none;
}
.lzcic4wl {
    outline: none;
}
.esuyzwwr {
    text-decoration: none;
}









.j1lvzwm4 {
    vertical-align: top;
}












.tojvnm2t {
    align-content: inherit;
}
.t1p8iaqh {
    flex-basis: inherit;
}
.qowsmv63 {
    max-height: inherit;
}
.q3lfd5jv {
    flex-grow: inherit;
}
.pk4s997a {
    flex-shrink: inherit;
}
.owwhemhu {
    max-width: inherit;
}
.k5wvi7nf {
    flex-direction: inherit;
}
.iyyx5f41 {
    width: inherit;
}
.dp1hu0rb {
    min-height: inherit;
}
.dhp61c6y {
    min-width: inherit;
}
.cebpdrjk {
    justify-content: inherit;
}
.bipmatt0 {
    height: inherit;
}
.abs2jz4q {
    align-self: inherit;
}
.a8s20v7p {
    display: inherit;
}
.a6sixzi8 {
    align-items: inherit;
}










.stjgntxs {
    overflow-y: hidden;
}

.rz4wbd8a {
    padding-right: 0;
}
.rq0escxv {
    box-sizing: border-box;
}
.qt6c0cv9 {
    padding-bottom: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.ni8dbmo4 {
    overflow-x: hidden;
}
.nhd2j8a9 {
    cursor: pointer;
}
.l9j0dhe7 {
    position: relative;
}
.kvgmc6g5 {
    margin-top: 0;
}
.jb3vyjys {
    padding-top: 0;
}
.i1ao9s8h {
    text-align: inherit;
}
.hcukyx3x {
    margin-left: 0;
}
.gmql0nx0 {
    color: inherit;
}
.g5ia77u1 {
    background-color: transparent;
}
.frigt3m8 {
    max-height: 19px;
}
.f1sip0of {
    touch-action: manipulation;
}
.cxmmr5t8 {
    margin-right: 0;
}
.abiwlrkh {
    -webkit-user-select: none;
}
.a8nywdso {
    padding-left: 0;
}
.a8c37x1j {
    display: block;
}
.r7d6kgcz {
    border-left: 0;
}
.qu0x051f {
    border-top: 0;
}
.esr5mh6w {
    border-right: 0;
}
.e9989ue4 {
    border-bottom: 0;
}
.p7hjln8o {
    list-style: none;
}
.lzcic4wl {
    outline: none;
}
.esuyzwwr {
    text-decoration: none;
}













.stjgntxs {
    overflow-y: hidden;
}
.ni8dbmo4 {
    overflow-x: hidden;
}
.ltmttdrg {
    text-overflow: ellipsis;
}
.gjzvkazv {
    width: 100px;
}
.bzsjyuwj {
    float: left;
}














.pcp91wgn {
    padding-left: 6px;
}




.ja2t1vim {
    margin-left: -100px;
}
.cwj9ozl2 {
    background-color: var(--card-background);
}
.bzsjyuwj {
    float: left;
}


















.pcp91wgn {
    padding-left: 6px;
}








.pfnyh3mw {
    flex-shrink: 0;
}
.kb5gq1qc {
    flex-grow: 0;
}
.c0wkt4kp {
    width: 7px;
}





.pfnyh3mw {
    flex-shrink: 0;
}
.j83agx80 {
    display: flex;
}
.bp9cbjyn {
    align-items: center;
}









.rm7oo3ik {
    content: "";
}
.pmk7jnqg {
    position: absolute;
}
.kr520xx4 {
    top: 0;
}
.j9ispegn {
    left: 0;
}
.is6700om {
    background-color: var(--accent);
}

.i09qtzwb {
    bottom: 0;
}
.dsl5tyj5 {
    width: 2px;
}
















.wkznzc2l {
    margin-right: 16px;
}
.rz4wbd8a {
    padding-right: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.kvgmc6g5 {
    margin-top: 0;
}
.jklb3kyz {
    min-height: 32px;
}
.j83agx80 {
    display: flex;
}
.ecm0bbzt {
    padding-top: 4px;
}
.e5nlhep0 {
    padding-bottom: 4px;
}
.dhix69tm {
    margin-left: 16px;
}
.a8nywdso {
    padding-left: 0;
}









.oo9gr5id {
    color: var(--primary-text);
}
.jq4qci2q {
    font-size: .9375rem;
}
.j83agx80 {
    display: flex;
}
.ewlkfwdl {
    order: 1;
}
.buofh1pr {
    flex-grow: 1;
}
.btwxx1t3 {
    flex-direction: row;
}
.bp9cbjyn {
    align-items: center;
}














._18vi {
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    justify-content: center;
}






.l9j0dhe7 {
    position: relative;
}
.k4urcfbm {
    width: 100%;
}






.tgvbjcpo {
    min-height: 0;
}
.taijpn5t {
    justify-content: center;
}
.rz4wbd8a {
    padding-right: 0;
}
.rq0escxv {
    box-sizing: border-box;
}
.qt6c0cv9 {
    padding-bottom: 0;
}
.pfnyh3mw {
    flex-shrink: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.nhd2j8a9 {
    cursor: pointer;
}
.mg4g778l {
    flex-basis: auto;
}
.l9j0dhe7 {
    position: relative;
}
.kvgmc6g5 {
    margin-top: 0;
}
.jb3vyjys {
    padding-top: 0;
}
.j83agx80 {
    display: flex;
}
.i1ao9s8h {
    text-align: inherit;
}
.hpfvmrgz {
    min-width: 0;
}
.hcukyx3x {
    margin-left: 0;
}
.g5ia77u1 {
    background-color: transparent;
}
.f1sip0of {
    touch-action: manipulation;
}
.du4w35lb {
    z-index: 0;
}
.cxmmr5t8 {
    margin-right: 0;
}
.buofh1pr {
    flex-grow: 1;
}
.btwxx1t3 {
    flex-direction: row;
}
.bp9cbjyn {
    align-items: center;
}
.abiwlrkh {
    -webkit-user-select: none;
}
.a8nywdso {
    padding-left: 0;
}
.tlpljxtp {
    border-right-color: var(--always-dark-overlay);
}
.sk4xxmp2 {
    border-left-width: 0;
}
.s44p3ltw {
    border-bottom-style: solid;
}
.rt8b4zig {
    border-top-width: 0;
}
.qensuy8j {
    border-bottom-color: var(--always-dark-overlay);
}
.ppp5ayq2 {
    border-left-color: var(--always-dark-overlay);
}
.n8ej3o3l {
    border-right-width: 0;
}
.mtkw9kbi {
    border-top-color: var(--always-dark-overlay);
}
.mk2mc5f4 {
    border-left-style: solid;
}
.goun2846 {
    border-top-style: solid;
}
.ccm00jje {
    border-right-style: solid;
}
.agehan2d {
    border-bottom-width: 0;
}
.p7hjln8o {
    list-style: none;
}
.lzcic4wl {
    outline: none;
}
.esuyzwwr {
    text-decoration: none;
}







._71pn ._18vj._18vj {
    color: var(--secondary-text);
    height: 32px;
    line-height: 1;
}



._18vj._18vj {
    align-items: center;
    color: #606770;
    display: flex;
    flex: 1 0;
    font-weight: 600;
    height: 32px;
    justify-content: center;
    line-height: 14px;
    padding: 0 2px;
    position: relative;
    text-decoration: none;
    transition: 400ms cubic-bezier(.08,.52,.52,1) transform;
}
.e71nayrh {
    z-index: 6;
}












.sf5mxxl7 {
    vertical-align: middle;
}
.q9uorilb {
    display: inline-block;
}












.q9uorilb {
    display: inline-block;
}
.fv0vnmcu {
    margin-right: 6px;
}











.tgvbjcpo {
    min-height: 0;
}
.rz4wbd8a {
    padding-right: 0;
}
.rq0escxv {
    box-sizing: border-box;
}
.q45zohi1 {
    clip: rect(0,0,0,0);
}
.pq6dq46d {
    display: inline-flex;
}
.pmk7jnqg {
    position: absolute;
}
.pfnyh3mw {
    flex-shrink: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.nhd2j8a9 {
    cursor: pointer;
}
.mg4g778l {
    flex-basis: auto;
}
.maw0qe7g {
    top: -5px;
}
.kvgmc6g5 {
    margin-top: 0;
}
.i1ao9s8h {
    text-align: inherit;
}
.hpfvmrgz {
    min-width: 0;
}
.hcukyx3x {
    margin-left: 0;
}
.gs1a9yip {
    align-items: stretch;
}
.g5ia77u1 {
    background-color: transparent;
}
.g0aa4cga {
    clip-path: polygon(0 0,0 0,0 0,0 0);
}
.f1sip0of {
    touch-action: manipulation;
}
.e5ffyxfx {
    right: 20px;
}
.du4w35lb {
    z-index: 0;
}
.cxmmr5t8 {
    margin-right: 0;
}
.btwxx1t3 {
    flex-direction: row;
}
.b4ylihy8 {
    padding-top: 13px;
}
.b40mr0ww {
    padding-bottom: 13px;
}
.abiwlrkh {
    -webkit-user-select: none;
}
.a8nywdso {
    padding-left: 0;
}
.tlpljxtp {
    border-right-color: var(--always-dark-overlay);
}
.sk4xxmp2 {
    border-left-width: 0;
}
.s44p3ltw {
    border-bottom-style: solid;
}
.rt8b4zig {
    border-top-width: 0;
}
.qensuy8j {
    border-bottom-color: var(--always-dark-overlay);
}
.ppp5ayq2 {
    border-left-color: var(--always-dark-overlay);
}
.n8ej3o3l {
    border-right-width: 0;
}
.mtkw9kbi {
    border-top-color: var(--always-dark-overlay);
}
.mk2mc5f4 {
    border-left-style: solid;
}
.goun2846 {
    border-top-style: solid;
}
.ccm00jje {
    border-right-style: solid;
}
.agehan2d {
    border-bottom-width: 0;
}
.p7hjln8o {
    list-style: none;
}
.lzcic4wl {
    outline: none;
}
.esuyzwwr {
    text-decoration: none;
}










.hu5pjgll {
    vertical-align: -0.25em;
}











.qs9ysxi8 {
    border-bottom-right-radius: inherit;
}
.pmk7jnqg {
    position: absolute;
}
.ot9fgl3s {
    transition-timing-function: var(--fds-animation-fade-out);
}
.n7fi1qx3 {
    right: 0;
}
.n00je7tq {
    border-top-left-radius: inherit;
}
.kr520xx4 {
    top: 0;
}
.k77z8yql {
    border-bottom-left-radius: inherit;
}
.j9ispegn {
    left: 0;
}
.i09qtzwb {
    bottom: 0;
}
.hzruof5a {
    pointer-events: none;
}
.c5ndavph {
    transition-duration: var(--fds-duration-extra-extra-short-out);
}
.b5wmifdl {
    opacity: 0;
}
.art1omkt {
    transition-property: opacity;
}
.arfg74bv {
    border-top-right-radius: inherit;
}



















._18vi {
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    justify-content: center;
}




._71pn ._18vj._18vj {
    color: var(--secondary-text);
    height: 32px;
    line-height: 1;
}
._71pn ._18vj._18vj, ._71pn ._21q1, ._71pn ._5v47 {
    color: var(--secondary-text);
}
._18vj._18vj {
    align-items: center;
    color: #606770;
    display: flex;
    flex: 1 0;
    font-weight: 600;
    height: 32px;
    justify-content: center;
    line-height: 14px;
    padding: 0 2px;
    position: relative;
    text-decoration: none;
    transition: 400ms cubic-bezier(.08,.52,.52,1) transform;
}
._666h {
    cursor: pointer;
}
.n05y2jgg {
    cursor: pointer;
}
.hbms080z {
    display: inline-block;
}
.f49446kz {
    white-space: nowrap;
}
.vul9dhcy {
    text-decoration: none;
}
.rz4wbd8a {
    padding-right: 0;
}
.rq0escxv {
    box-sizing: border-box;
}
.qt6c0cv9 {
    padding-bottom: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.l9j0dhe7 {
    position: relative;
}
.kvgmc6g5 {
    margin-top: 0;
}
.jb3vyjys {
    padding-top: 0;
}
.i1ao9s8h {
    text-align: inherit;
}
.hcukyx3x {
    margin-left: 0;
}
.g5ia77u1 {
    background-color: transparent;
}
.f1sip0of {
    touch-action: manipulation;
}
.cxmmr5t8 {
    margin-right: 0;
}
.abiwlrkh {
    -webkit-user-select: none;
}
.a8nywdso {
    padding-left: 0;
}
.r7d6kgcz {
    border-left: 0;
}
.qu0x051f {
    border-top: 0;
}
.esr5mh6w {
    border-right: 0;
}
.e9989ue4 {
    border-bottom: 0;
}
.p7hjln8o {
    list-style: none;
}
.lzcic4wl {
    outline: none;
}









.tvmbv18p {
    margin-bottom: 4px;
}
.cwj9ozl2 {
    background-color: var(--card-background);
}








.q45zohi1 {
    clip: rect(0,0,0,0);
}
.pmk7jnqg {
    position: absolute;
}
.g0aa4cga {
    clip-path: polygon(0 0,0 0,0 0,0 0);
}











.p1ri9a11 {
    font-weight: inherit;
}
.l94mrbxd {
    font-size: inherit;
}
.gmql0nx0 {
    color: inherit;
}
.lzcic4wl {
    outline: none;
}








.wkznzc2l {
    margin-right: 16px;
}
.oygrvhab {
    margin-bottom: 0;
}
.kvgmc6g5 {
    margin-top: 0;
}
.ecm0bbzt {
    padding-top: 4px;
}
.dhix69tm {
    margin-left: 16px;
}
.l6v480f0 {
    border-top: 1px solid var(--divider);
}










.qt6c0cv9 {
    padding-bottom: 0;
}
.l9j0dhe7 {
    position: relative;
}
.jb3vyjys {
    padding-top: 0;
}
.j83agx80 {
    display: flex;
}
.hv4rvrfc {
    padding-right: 16px;
}
.dati1w0a {
    padding-left: 16px;
}
.bkfpd7mw {
    justify-content: flex-end;
}













.stjgntxs {
    overflow-y: hidden;
}
.ni8dbmo4 {
    overflow-x: hidden;
}








.tpo14512 {
    margin-top: -32px;
}
.k7cz35w2 {
    height: 32px;
}
.jifvfom9 {
    justify-content: flex-start;
}
.j83agx80 {
    display: flex;
}
.hv4rvrfc {
    padding-right: 16px;
}
.dati1w0a {
    padding-left: 16px;
}
.bp9cbjyn {
    align-items: center;
}
.qvze9t23 {
    transition: .5s margin-top ease-out;
}









.wkznzc2l {
    margin-right: 16px;
}
.taijpn5t {
    justify-content: center;
}
.j83agx80 {
    display: flex;
}
.ggphbty4 {
    margin-left: 6px;
}







.j83agx80 {
    display: flex;
}
.hv4rvrfc {
    padding-right: 16px;
}
.ecm0bbzt {
    padding-top: 4px;
}
.e5nlhep0 {
    padding-bottom: 4px;
}
.dati1w0a {
    padding-left: 16px;
}
.btwxx1t3 {
    flex-direction: row;
}
.lzcic4wl {
    outline: none;
}










.spb7xbtv {
    border-bottom-left-radius: 50%;
}
.s45kfl79 {
    border-top-left-radius: 50%;
}
.rs0gx3tq {
    margin-top: 2px;
}
.nqmvxvec {
    align-self: flex-start;
}
.l9j0dhe7 {
    position: relative;
}
.fv0vnmcu {
    margin-right: 6px;
}
.emlxlaya {
    border-top-right-radius: 50%;
}
.bkmhp75w {
    border-bottom-right-radius: 50%;
}
.a8c37x1j {
    display: block;
}

















.tgvbjcpo {
    min-height: 0;
}
.rz4wbd8a {
    padding-right: 0;
}
.rq0escxv {
    box-sizing: border-box;
}
.qt6c0cv9 {
    padding-bottom: 0;
}
.pq6dq46d {
    display: inline-flex;
}
.pfnyh3mw {
    flex-shrink: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.nhd2j8a9 {
    cursor: pointer;
}
.mg4g778l {
    flex-basis: auto;
}
.l9j0dhe7 {
    position: relative;
}
.kvgmc6g5 {
    margin-top: 0;
}
.jb3vyjys {
    padding-top: 0;
}
.i1ao9s8h {
    text-align: inherit;
}
.hpfvmrgz {
    min-width: 0;
}
.hcukyx3x {
    margin-left: 0;
}
.gs1a9yip {
    align-items: stretch;
}
.g5ia77u1 {
    background-color: transparent;
}
.f1sip0of {
    touch-action: manipulation;
}
.du4w35lb {
    z-index: 0;
}
.cxmmr5t8 {
    margin-right: 0;
}
.btwxx1t3 {
    flex-direction: row;
}
.abiwlrkh {
    -webkit-user-select: none;
}
.a8nywdso {
    padding-left: 0;
}
.tlpljxtp {
    border-right-color: var(--always-dark-overlay);
}
.sk4xxmp2 {
    border-left-width: 0;
}
.s44p3ltw {
    border-bottom-style: solid;
}
.rt8b4zig {
    border-top-width: 0;
}
.qensuy8j {
    border-bottom-color: var(--always-dark-overlay);
}
.ppp5ayq2 {
    border-left-color: var(--always-dark-overlay);
}
.n8ej3o3l {
    border-right-width: 0;
}
.mtkw9kbi {
    border-top-color: var(--always-dark-overlay);
}
.mk2mc5f4 {
    border-left-style: solid;
}
.goun2846 {
    border-top-style: solid;
}
.ccm00jje {
    border-right-style: solid;
}
.agehan2d {
    border-bottom-width: 0;
}
.p7hjln8o {
    list-style: none;
}
.lzcic4wl {
    outline: none;
}
.esuyzwwr {
    text-decoration: none;
}











.q9uorilb {
    display: inline-block;
}
.pzggbiyp {
    vertical-align: bottom;
}
.l9j0dhe7 {
    position: relative;
}
.du4w35lb {
    z-index: 0;
}










.pzggbiyp {
    vertical-align: bottom;
}








.s6kb5r3f {
    stroke-width: 2;
}
.mlqo0dh0 {
    fill: none;
}
.georvekb {
    stroke: var(--media-inner-border);
}








.spb7xbtv {
    border-bottom-left-radius: 50%;
}
.s45kfl79 {
    border-top-left-radius: 50%;
}
.pmk7jnqg {
    position: absolute;
}
.ot9fgl3s {
    transition-timing-function: var(--fds-animation-fade-out);
}
.n7fi1qx3 {
    right: 0;
}
.kr520xx4 {
    top: 0;
}
.j9ispegn {
    left: 0;
}
.i09qtzwb {
    bottom: 0;
}
.hzruof5a {
    pointer-events: none;
}
.emlxlaya {
    border-top-right-radius: 50%;
}
.c5ndavph {
    transition-duration: var(--fds-duration-extra-extra-short-out);
}
.bkmhp75w {
    border-bottom-right-radius: 50%;
}
.b5wmifdl {
    opacity: 0;
}
.art1omkt {
    transition-property: opacity;
}











.stjgntxs {
    overflow-y: hidden;
}
.ni8dbmo4 {
    overflow-x: hidden;
}
.g3eujd1d {
    flex: 1;
}











._25-w {
    flex-grow: 1;
}



._17pg {
    flex-grow: 1;
}


._1rwk {
    flex-grow: 1;
}



._71pn ._129h {
    background-color: var(--comment-background);
    border: 0;
    border-radius: 20px;
}
._129h {
    background-color: #f2f3f5;
    border: 1px solid #ccd0d5;
    border-radius: 16px;
    display: flex;
    justify-content: flex-end;
}
.l9j0dhe7 {
    position: relative;
}


.tgvbjcpo {
    min-height: 0;
}
.rz4wbd8a {
    padding-right: 0;
}
.rq0escxv {
    box-sizing: border-box;
}
.qt6c0cv9 {
    padding-bottom: 0;
}
.pq6dq46d {
    display: inline-flex;
}
.pmk7jnqg {
    position: absolute;
}
.pfnyh3mw {
    flex-shrink: 0;
}
.oygrvhab {
    margin-bottom: 0;
}
.orhb3f3m {
    border-top-left-radius: 20px;
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.o6r2urh6 {
    cursor: text;
}
.n7fi1qx3 {
    right: 0;
}
.mg4g778l {
    flex-basis: auto;
}
.kvgmc6g5 {
    margin-top: 0;
}
.kr520xx4 {
    top: 0;
}
.jb3vyjys {
    padding-top: 0;
}
.j9ispegn {
    left: 0;
}
.i1ao9s8h {
    text-align: inherit;
}
.i09qtzwb {
    bottom: 0;
}
.hpfvmrgz {
    min-width: 0;
}
.hcukyx3x {
    margin-left: 0;
}
.gs1a9yip {
    align-items: stretch;
}
.g5ia77u1 {
    background-color: transparent;
}
.fmqxjp7s {
    border-bottom-right-radius: 20px;
}
.f1sip0of {
    touch-action: manipulation;
}
.emzo65vh {
    border-bottom-left-radius: 20px;
}
.du4w35lb {
    z-index: 0;
}
.czkt41v7 {
    border-top-right-radius: 20px;
}
.cxmmr5t8 {
    margin-right: 0;
}
.btwxx1t3 {
    flex-direction: row;
}
.abiwlrkh {
    -webkit-user-select: none;
}
.a8nywdso {
    padding-left: 0;
}
.tlpljxtp {
    border-right-color: var(--always-dark-overlay);
}
.sk4xxmp2 {
    border-left-width: 0;
}
.s44p3ltw {
    border-bottom-style: solid;
}
.rt8b4zig {
    border-top-width: 0;
}
.qensuy8j {
    border-bottom-color: var(--always-dark-overlay);
}
.ppp5ayq2 {
    border-left-color: var(--always-dark-overlay);
}
.n8ej3o3l {
    border-right-width: 0;
}
.mtkw9kbi {
    border-top-color: var(--always-dark-overlay);
}
.mk2mc5f4 {
    border-left-style: solid;
}
.goun2846 {
    border-top-style: solid;
}
.ccm00jje {
    border-right-style: solid;
}
.agehan2d {
    border-bottom-width: 0;
}
.p7hjln8o {
    list-style: none;
}
.lzcic4wl {
    outline: none;
}
.esuyzwwr {
    text-decoration: none;
}






._71pn ._3d2q {
    color: var(--primary-text);
}

._71pn ._7c_r {
    color: var(--secondary-text);
    font-size: 15px;
    font-weight: 400;
}
._71pn ._4w79 {
    font-size: 15px;
    line-height: 17px;
    padding: 10px 12px 9px 12px;
}
._4w79 {
    cursor: text;
    flex: 1 1 auto;
    line-height: 16px;
    overflow: hidden;
    padding: 8px 12px;
}
._7c_r {
    color: #8d949e;
    text-overflow: ellipsis;
    white-space: nowrap;
}






._71pn ._5rp7 {
    z-index: 0;
}
._5rp7 {
    position: relative;
}
._5rp7, ._5rpb, ._5rpu {
    height: inherit;
    text-align: initial;
}












._71pn ._3d2q ._1p1t {
    color: var(--secondary-text);
}
._7c_r ._1p1t {
    width: 100%;
}
._3d2q ._1p1t {
    color: #8d949e;
}
._1p1t {
    color: #90949c;
    position: absolute;
    width: 100%;
    z-index: 1;
}








._7c_r ._1p1v {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}











._5rpb {
    background-color: rgba(255, 255, 255, 0);
    border-left: .1px solid transparent;
    position: relative;
    z-index: 1;
}
._5rp7, ._5rpb, ._5rpu {
    height: inherit;
    text-align: initial;
}










._71pn ._1obb {
    height: 34px;
}

._1obb {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    height: 32px;
    margin-left: -8px;
    margin-right: 8px;
    z-index: 1;
}

</style>