@{
    List<BusinessEntities.RSSFeed> FeedList = new dropinion4u.Controllers.WebPartsController().GetRSSFeedList();
}

<marquee behavior="scroll" scrollamount="2" direction="up" onmouseover="this.setAttribute('scrollamount',0);" onmouseout="this.setAttribute('scrollamount',2);"  style="height:200px;">
    @foreach (var item in FeedList)
    {
        <div class="favorite-links">
            <ul>
                <li>
                    <b>@item.Title  </b><a href=@item.FeedUrl>@item.FeedTitle</a>
                </li>
            </ul>
        </div>
    }
</marquee>
