@{
    ViewBag.Title = "Login Form";
}

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100 font-weight-bold">We don't spam!</h5>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div id="emailform">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input id="email" type="email" class="form-control validate" name="email" placeholder="Enter your best email">
                    </div><br />
                    <button class="btn btn-default" onclick="submitEmail()" style="background-color:limegreen">Next</button>
                    <button class="btn btn-default" data-dismiss="modal">Not today!</button>
                </div>
                <div id="passwordform">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                        <input id="password" type="password" class="form-control validate" name="password">
                    </div><br />
                    <button class="btn btn-default" onclick="login()" style="background-color:limegreen">Login</button>
                    <button class="btn btn-default" data-dismiss="modal">Leave It!</button>
                </div>
                <div id="registerform">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                        <input id="registrationpassword" type="password" class="form-control validate" name="registrationpassword">
                    </div><br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                        <input id="confirmpassword" type="password" class="form-control validate" name="confirmpassword">
                    </div><br />
                    <button class="btn btn-default" onclick="register()" style="background-color:limegreen">Create Account</button>
                    <button class="btn btn-default" data-dismiss="modal">Later!</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#passwordform').hide();
        $('#registerform').hide();
    });

    function submitEmail() {
        if (!$.isEmptyObject($('#email').val())) {
            $.ajax({
                url: "/ModalDialog/CheckEmail",
                type: "POST",
                dataType: "JSON",
                data: { email: $('#email').val() },
                success: function (data) {
                    if (data == "Login") {
                        $('#emailform').hide();
                        $('#passwordform').show();
                    }
                    else {
                        $('#emailform').hide();
                        $('#registerform').show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("fail");
                }
            });
        }
    }

    function login() {
        if (!$.isEmptyObject($('#password').val())) {
            $.ajax({
                url: "/ModalDialog/Login",
                type: "POST",
                dataType: "JSON",
                data: { pass: $('#password').val() },
                success: function (data) {
                    window.location.href = "/home/Index"
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("faillogin");
                }
            });
        }
    }

    function register() {
        if (!$.isEmptyObject($('#email').val())) {
            $.ajax({
                url: "/ModalDialog/Register",
                type: "POST",
                dataType: "JSON",
                data: { pass: $('#registrationpassword').val() },
                success: function (data) {
                    window.location.href = "/home/Index"
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("failregister");
                }
            });
        }
    }
</script>`