@{
    ViewBag.Title = "Login Form";
}

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100 font-weight-bold" id="hmsg">We don't spam!</h5>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                
                <div id="emailform">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input id="email" type="email" class="form-control validate" name="email" placeholder="Enter your email address...">
                    </div><br />
                    <div id="spanerrorNext" style="color:darkred"></div>
                    <button id="btnNext" class="btn btn-default" onclick="submitEmail()" style="background-color:limegreen" disabled>Next</button>
                    <button class="btn btn-default" data-dismiss="modal">Not today!</button>
                </div>
                <div id="passwordform">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                        <input id="password" type="password" class="form-control validate" name="password" placeholder="Enter your password...">
                    </div><br />
                    <div id="spanerrorLogin" style="color:darkred"></div>
                    <button class="btn btn-default" onclick="back()" >No! Not this Email!</button>
                    <button id="btnLogin" class="btn btn-default" onclick="login()" style="background-color:limegreen" disabled>Login</button>
                    <button class="btn btn-default" data-dismiss="modal">Leave It!</button>
                </div>
                <div id="registerform">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                        <input id="registrationpassword" type="password" class="form-control validate" name="registrationpassword" placeholder="Create password...">
                    </div><br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                        <input id="confirmpassword" type="password" class="form-control validate" name="confirmpassword" placeholder="Confirm password...">
                    </div><br />
                    <div id="spanerrorRegister" style="color:darkred"></div>
                    <div id="spanerrorConfirm" style="color:darkred"></div>
                    <button class="btn btn-default" onclick="back()">No! Not this Email!</button>
                    <button id="btnRegister" class="btn btn-default" onclick="register()" style="background-color:limegreen" disabled>Create Account</button>
                    <button class="btn btn-default" data-dismiss="modal">Later!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/CustomScripts/_LoginForm.js"></script>
`